/* BACKGROUNDS */

#bg-header {
	background-image: url(../img/headerimg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#bg-footer {
	background-image: url(../img/footerimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	width: 100%;
	border-top: 3px solid #f21a2e;
}


/* BORDERS */

.header-border {
	border-bottom: 3px solid #fff;
}

.nav-border {
	border-top: 3px solid #007fbd;
	border-bottom: 3px solid #007fbd;
}

.content-border {
	border-top: 3px solid #007fbd;
	border-bottom: 3px solid #007fbd;
}


* {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* PADDING */

.nav-padding {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.content-padding {
	padding-top: 100px;
	padding-bottom: 400px;
}


.footer-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-padding {
	padding-top: 50px;
}


.carousel-padding {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
}


/* STICKY NAV */

.sticky-right {
	height: auto;
	width: 200px;
	position: fixed;
	top: 34%;
	right: 0px;
	background: #f00;
	padding: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px !important;
}

.sticky-right > p{
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.sticky-right > p > a{
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.sticky-right > p > a:hover{
	text-align: center;
	text-decoration: none;
	color: #ccc;
}




@media screen and(max-width: 767px) {
	.sticky-right {
		display: none;
	}
}


/* SLIDER */


.carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
.carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
.carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
.carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid #007fbd;
}
.carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
