/* BACKGROUNDS */

#bg-header {
	background-image: url(../img/headerimg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#bg-footer {
	background-image: url(../img/footerimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	width: 100%;
	border-top: 3px solid #f21a2e;
}


/* BORDERS */

.header-border {
	border-bottom: 3px solid #fff;
}

.nav-border {
	border-top: 3px solid #007fbd;
	border-bottom: 3px solid #007fbd;
}

.content-border {
	border-top: 3px solid #007fbd;
	border-bottom: 3px solid #007fbd;
}

.left-border {
	padding-left: 5px;
	border-left: 3px solid #f21a2e;
}

* {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* PADDING */

.nav-padding {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.content-padding {
	padding-top: 100px;
	padding-bottom: 400px;
}


.footer-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-padding {
	padding-top: 5px;
	padding-bottom: 40px;
}


.carousel-padding {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
}

.img-padding {
	padding: 5px;
}

/* STICKY NAV */

#sticky-right {
	height: auto;
	width: 200px;
	position: fixed;
	top: 34%;
	right: 0px;
	/*background-image: url('../img/red-metal.png');*/
	background-color: #f21a2e;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px ;
}

#sticky-right > p{
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#sticky-right > p > a{
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#sticky-right > p > a:hover{
	text-align: center;
	text-decoration: none;
	color: #ccc;
}




@media screen and(max-width: 767px) {
	#sticky-right {
		display: none;
	}
}

.button-color {
	background-color: white !important;
	border: 1px solid !important;
}

.nav > li > a {
	min-width: 120px !important;
  	text-align: center;
	

}